.recipes {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.recipes>div {
    margin: 2em;
}

.title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(24, 80, 213);
}

.information {
    font-size: 19px;
    line-height: 1.7;
}

.allRecipes {
    background-color: rgb(201, 196, 196);
    padding: 1rem;
}